<%= provide(:title, "All members") %>

<h1>LakeHub Members</h1>
<div class="row">
    <div class="large-12 columns">
<% @members.each do |member| %>
      <div class="large-3 small-6 columns">
          <img src="http://placehold.it/250x250&text=Thumbnail"/>
          <div class="panel">          
            <h6><strong>Name:</strong> <%= member.first_name %>  <%= member.last_name %></h6>
            <%= link_to 'Detailed Profile', member, class: "button tiny info" %>
          </div>          
      </div>


  <%#= link_to 'Edit', edit_member_path(member) %>
  <%#= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
    </div>
</div>

<br>

<%= link_to 'New Member', new_member_path%>
